extends layout

block content
  h1= title
  p Device list 

  div#wrapper

     h2 Device list
     div#devList
         table
             thead
                 th type
                 th ip addr
             tbody
           
